@model E_Ticaret.Model.Kullanici
@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div class="container loginOrta ">
        <div class="row">
            <div class="col-12">
                <h2 class="loginBaslik">E-Commerce Portal</h2>
            </div>
        </div>
        <div class="card p-3">
            <div class="row" style="max-width: 400px;">
                <div class="col-md-12 mb-2">
                    <label>Username</label><br />
                    <div class="input-container">
                        <i class="fa fa-user"></i>
                        @Html.TextBoxFor(m=>m.KullaniciAdi,new {@clas="form-control"})
                    </div>
                </div>
                <div class="col-md-12">
                    <label>Password</label><br />
                    <div class="input-container">
                        <i class="fa fa-lock"></i>
                        @Html.TextBoxFor(m=>m.Sifre,new {@clas="form-control"})
                        <input class="form-control" type="password" />
                    </div>
                </div>
                <div class="col-md-12 mt-3">
                    <a class="btn btn-block btnGiris" href="/login.html">Login</a>
                </div>
                <div class="col-md-12 kayitDiv">
                    <div class="row">
                        <div class="col-md-6"> <i class="fa fa-check-circle"></i> <a class="kayitLink" href="/Home/kayitOl">Sign Up</a></div>
                        <div class="col-md-6"><i class="fa fa-question"></i> <a class="kayitLink" href="/Home/sifremiUnuttum">Forgot Password</a></div>
                    </div>

                </div>
            </div>

        </div>

    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
